body {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.slick-slider {
  margin-bottom: 0;
}
.slick-next {
  right: 20px;
  z-index: 1;
}

.slick-prev {
  left: 20px;
  z-index: 1;
}
.combo {
  position: relative;
  overflow: hidden;
}
.slider-for {
  .item {
    height: 100vh;
  }
}
.slider-nav {
  position: absolute;
  bottom: 20px;
  width: 100%;

  .item {
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    line-height: 1em;

    &:hover {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      outline: none;
    }

    &.slick-current {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
